executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '100/1min'
    
    exitReadTimeout = '259200 sec'
      pollInterval = '1 min'
      queueStatInterval = '5 min'
      }

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA2OTEzfS4zMWIxNmFmMDQ4NjgzNjhkMjRkNGIxMDcyOTI2ZGJmZDBlZDkyNDEy'
}
process {
	clusterOptions = "--cluster wice -A lcfdna_labepi"
	
	errorStrategy = { task.exitStatus == 140 ? 'retry' : 'ignore' }
	withName: 'TRIM' {
 	cpus = 10
    	memory = 10.GB
	time = '5h'
 }
        withName: 'ALIGN' {
        cpus = 17
    	memory = 50.GB
	time = '5h'
 }
	withName: 'FILTER' {
 	cpus = 10
    	memory = 1.GB
	time = '5 min'
 }
        withName: 'DEDUPLICATE' {
        cpus = 31
    	memory = 170.GB
	time = '2h'
 }
        withName: 'MBIAS' {
        cpus = 31
        memory = 170.GB
        time = '30 min'
 }
        withName: 'EXTRACT_REGIONS' {
        cpus = 13
    	memory = 10.GB
	time = '10 min'
 }
        withName: 'EXTRACT_CPGS' {
        cpus = 13
        memory = 10.GB
        time = '10 min'
 }
	withName: 'FASTQC' {
    	cpus = 5
    	memory = 10.GB
  }
	withName: 'MULTIFASTQC' {
    	cpus = 5
    	memory = 10.GB
  }

        withName: 'MERGE' {
        cpus = 20
        memory = 100.GB
	time = '2h'
 }
}

